<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/forget" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <% if(messages.error) { %>
                <span class="text-red-500 text-sm"><%= messages.error %></span>
                <% } %>
                <% if(messages.success) { %>
                    <span class="text-green-500 text-sm"><%= messages.success %></span>
                    <% } %>    
            <!-- <span class="text-red-500 text-sm"></span> -->
                       <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                </label>
                <input name="email"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="email" placeholder="Enter Your Registered Email">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="btn-primary rounded-full font-bold py-2 px-4 rounded focus:shadow-outline"
                    type="submit">
                    Send My Password
                </button>
                
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2022 MEDICA. All rights reserved.
        </p>
    </div>
</section>