
    <section class="hero py-6 px-4 ">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2 pl-5">
                <h6 class="text-lg"><em>Any needs?</em></h6>
                <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-pizza.svg" alt="">
            </div>
        </div>
    </section>
    <br><br>
    <section class="menu container mx-auto py-8 px-6">
        
            <section class="menu container mx-auto py-8">
                <h1 class="text-xl font-bold mb-8">All Medicine</h1>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
                    <% medicine.forEach(function(medicine) { %>
                    <div class="w-full md:w-64">
                        <img class="h-40 mb-4 mx-auto" src="/img/<%= medicine.image %>" alt="">
                        <div class="text-center">
                            <h2 class="mb-4 text-lg"><%= medicine.name %></h2>
                            <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= medicine.size %></span>
                            <div class="flex items-center justify-around mt-6">
                                <span class="font-bold text-lg">₹<%= medicine.price %></span>
                                <button data-pizza="<%= JSON.stringify(medicine) %>"
                                    class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                    <span>+</span>
                                    <span class="ml-4">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            
        <!-- </div> -->
      
    </section>
    