<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/admin/product" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        
                <span class="text-red-500 text-sm"></span>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Name
                </label>
                <input name="name" value=""
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="Enter Medicine name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Image
                </label>
                <input name="image" value=""
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="file" placeholder="Enter Medicine Image">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Price
                </label>
                <input name="price"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="number" placeholder="Enter Medicine Price">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Size
                </label>
                <input name="size"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="text" placeholder="Enter Medicine Size ">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="btn-primary rounded-full  font-bold py-2 px-4 rounded  focus:shadow-outline"
                    type="submit">
                    Add
                </button>
               
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2022 MEDICA. All rights reserved.
        </p>
    </div>
</section>