<!-- <section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
        </div>
        <div class="pizza-list">
           
            <div class="flex items-center my-8">
                <!-- <img class="w-24" src="/img/" alt=""> -->
                <!-- <div class="flex-1 ml-4">
                    <h1>FEVER</h1>
                    <span></span>
                </div>
                <span class="flex-1">2 Pcs</span>
                <span class="font-bold text-lg">₹ 20</span>
            </div>
            <div class="flex items-center my-8"> --> 
                                <!-- <img class="w-24" src="/img/" alt=""> -->
                <!-- <div class="flex-1 ml-4">
                    <h1>FEVER</h1>
                    <span></span>
                </div>
                <span class="flex-1">2 Pcs</span>
                <span class="font-bold text-lg">₹ 20</span>
            </div>


            <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹ 2000</span>
            </div>
      
            <div>
                <form action="/orders" method="POST" class="mt-12" id="payment-form">
                    <div class="relative w-1/2 ml-auto mb-4">
                        <select id="paymentType" name="paymentType" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                          <option value="cod">Cash on delivery</option>
                          <option value="card">Pay with card</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                      </div>
                    <input name="phone" class="border border-gray-400 p-2 w-1/2 mb-4" type="text"
                        placeholder="Phone number">
                    <input name="address" class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <div class="mt-4">
                        <div id="card-element"></div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Order
                            Now</button>
                    </div>
                </form>
            </div>
          
            <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to continue</a>
          
        </div>
    </div>
            

        </div>
        <hr>
        
    </div>
</section>
<section>

    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a Medicines yet. <br>
                To order a Medicine, go to the main page.</p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div> 
</section> -->


<section class="cart py-16">
    <% if(session.cart) { %>
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
        </div>
        <div class="pizza-list">
            <% for(let medicine of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/<%= medicine.item.image %>" alt="">
                <div class="flex-1 ml-4">
                    <h1><%= medicine.item.name %></h1>
                    <span><%= medicine.item.size %></span>
                </div>
                <span class="flex-1"><%= medicine.qty %> Pcs</span>
                <span class="font-bold text-lg">₹ <%= medicine.item.price * medicine.qty %></span>
                <button data-med="<%= JSON.stringify(medicine) %>"
                    class="rmv-to-cart ml-4 py-1 px-4 rounded-full flex items-center font-bold">
                    <span>-</span>
                </button>
                <button data-medd="<%= JSON.stringify(medicine) %>"
                    class="ad-to-cart ml-4 py-1 px-4 rounded-full flex items-center font-bold">
                    <span>+</span>
                </button>

            </div>
            
            <%  } %>

        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
            </div>
            <% if(user) { %>
            <div>
                <form action="/orders" method="POST" class="mt-12" id="payment-form">
                    <div class="relative w-1/2 ml-auto mb-4">
                        <select id="paymentType" name="paymentType" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                          <option value="cod">Cash on delivery</option>
                          <option value="card">Pay with card</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                      </div>
                    <input name="phone" class="border border-gray-400 p-2 w-1/2 mb-4" type="text"
                        placeholder="Phone number">
                    <input name="address" class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <div class="mt-4">
                        <div id="card-element"></div>
                        <button class="px-6 py-2 rounded-full  font-bold mt-4 add-to-cart" type="submit">Order
                            Now</button>
                    </div>
                </form>
            </div>
            <% } else { %>
            <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to the main page.</p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div>
    <% } %>
</section>